@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-bg: #000000;
  --color-secondary-bg: #151a22;

  --color-dark-1: #0e0f11;

  --color-light-1: #233655;
  --color-light-2: #9eb7e9;

  --color-icon: #9eb7e9;

  --color-primary-text: #9eb7e9;

  --color-heading-1: #c8d5ed;

  /* WIP : Work In Progress */
  --color-wip-text: hsl(225, 25%, 81%);
  --color-wip-bg: hsla(218, 100%, 18%, 0.274);
  --color-wip-border: hsl(233, 20%, 36%);
}

[data-theme="light"] {
  --color-primary-bg: #ffffff;
  --color-primary-text: #000000;

  --color-wip-text: hsl(232, 78%, 21%);
  --color-wip-bg: hsla(218, 35%, 58%, 0.315);
  --color-wip-border: hsl(232, 63%, 37%);
}

body {
  font-family: var(--font-inter), sans-serif;
}
